:root {
    --logo-color-day: #006A71;
    --bg-day: #fff;
    --header-day: #ECF4F3;
    --primary-text-day: #000;
    --secondary-text-day: #68B0AB;
    --accent-day: #FF7E67;

    --logo-color-night: #fff;
    --bg-night: #20124A;
    --header-night: #18122B;
    --primary-text-night: #fff;
    --secondary-text-night: #A6C5F9;
    --accent-night: #A6C5F9;


    --box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    --animation: all .5s ease-in-out;
}
