:root {
  --logo-color-day: #006a71;
  --bg-day: #fff;
  --header-day: #ecf4f3;
  --primary-text-day: #000;
  --secondary-text-day: #68b0ab;
  --accent-day: #ff7e67;
  --skill-bg-day: rgba(255, 126, 103, 0.3);

  --logo-color-night: #fff;
  --bg-night: #20124a;
  --header-night: #18122b;
  --primary-text-night: #fff;
  --secondary-text-night: #a6c5f9;
  --accent-night: #a6c5f9;
  --skill-bg-night: rgba(166, 197, 249, 0.3);

  --box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  --animation: all 0.5s ease-in-out;
}
